@page "/Admin/User"
@using EasyAdminBlazor.Infrastructure.Encrypt
@inject IStringLocalizer<SysUser> Localizer

<Split Basis="160px" FirstPaneMinimumSize="160px" ShowBarHandle="false">
    <FirstPaneTemplate>
        <TreeView Items="@OrgTreeItems" OnTreeItemClick="OnTreeItemClick"></TreeView>
    </FirstPaneTemplate>
    <SecondPaneTemplate>
        <AdminTable @ref="table" TItem="SysUser" EditDialogSize="Size.ExtraLarge" AutoGenerateColumns ShowImportButton ShowExportButton ShowExtendButtons ShowAdvancedSearch IsMultipleSelect IsPagination ShowSearch
                    OnBeforeSaveAsync="OnBeforeSaveAsync" OnBeforeDeleteAsync="OnBeforeDeleteAsync" IncludePropertyName="Roles" ConvertImportItem="ConvertImportItem">
            <TableColumns>
                <TableColumn @bind-Field="@context.Password" Visible="false" IsVisibleWhenAdd="true" IsVisibleWhenEdit="true">
                    <EditTemplate Context="v">
                        <div class="col-12 col-sm-6">
                            <BootstrapInput TValue="string" @bind-Value="v.Password" PlaceHolder="请输入 ..." type="password" minlength="6" />
                        </div>
                    </EditTemplate>
                </TableColumn>
                <TableColumn @bind-Field="@context.OrgId" Visible="false" IsVisibleWhenAdd="true" IsVisibleWhenEdit="true">
                    <EditTemplate Context="v">
                        <div class="col-6">
                            <SelectTree @bind-Value="v.OrgId" TValue="long" Items="OrgTreeItems" />
                        </div>
                    </EditTemplate>
                </TableColumn>
                <TableColumn @bind-Field="@context.Roles" Searchable="true">
                    <Template Context="v">
                        @foreach (var role in v.Value)
                        {
                            <Tag>@role.Name</Tag>
                        }
                    </Template>
                    <EditTemplate Context="v">
                        <div class="col-12">
                            <CheckboxList TValue="IEnumerable<long>" @bind-Value="v.RoleIds" Items="RoleItems" />
                        </div>
                    </EditTemplate>
                    <SearchTemplate Context="v">
                        <FilterSelect DisplayText="@Localizer["Roles"]" TType="IEnumerable<long>" Items="RoleItems" @bind-Value="v.RoleIds" />
                    </SearchTemplate>
                </TableColumn>
            </TableColumns>
        </AdminTable>
    </SecondPaneTemplate>
</Split>

@code {
    [Inject] IAggregateRootRepository<SysOrg> _repoOrg { get; set; }
    [Inject] IAggregateRootRepository<SysRole> _repRole { get; set; }

    private List<TreeViewItem<long>> OrgTreeItems { get; set; }
    private List<SelectedItem> RoleItems { get; set; }
    AdminTable<SysUser> table;

    /// <summary>
    /// 组件初始化时异步执行的方法，用于加载组织树和角色数据。
    /// </summary>
    async protected override Task OnInitializedAsync()
    {
        var orgs = await _repoOrg.Select.ToListAsync();

        OrgTreeItems = orgs.BuildTreeViews<SysOrg, long>(0, r => r.Label);
        RoleItems = await _repRole.Select.ToListAsync(r => new SelectedItem(r.Id.ToString(), r.Name));
    }

    /// <summary>
    /// 保存前的操作
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnBeforeSaveAsync(AdminSaveEventArgs<SysUser> e)
    {
        if (await e.Repo.Select.AnyAsync(e.ChangedType == ItemChangedType.Add
            ? x => x.Username == e.Item.Username
            : x => x.Username == e.Item.Username && x.Id != e.Item.Id))
        {
            await ToastService.Error("用户保存失败", $"用户名{e.Item.Username}已存在。");
            e.Cancel = true;
        }

        if (!PBKDF2Encrypt.IsPbkdf2(e.Item.Password))
        {
            e.Item.Password = PBKDF2Encrypt.HashPassword(e.Item.Password);
        }
    }

    /// <summary>
    /// 检查要删除的数据
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnBeforeDeleteAsync(AdminRemoveEventArgs<SysUser> e)
    {
        foreach (var item in e.Items)
        {
            if (item.Roles.Any(x=>x.IsAdministrator))
            {
                await ToastService.Error("删除用户", "超级管理员不允许删除");
                e.Cancel =true;
            }
        }
    }
    private async Task OnTreeItemClick(TreeViewItem<long> item)
    {
        await table.Reload(x => x.OrgId == item.Value);
    }

    /// <summary>
    /// 导入数据处理
    /// </summary>
    /// <param name="item"></param>
    private void ConvertImportItem(SysUser item)
    {
        var user = admin?.User;

        if(user != null)
        {
            item.CreatedUserId = user.Id;
            item.CreatedUserName = user.Username;
            item.ModifiedUserId = user.Id;
            item.ModifiedUserName = user.Username;
            item.OrgId = user.OrgId;
        }
    }
}
